{% extends 'base.html' %} {% block content %} {% include 'partials/modal/gl-codes/_edit-gl-code.html'%}
<div class="page-heading-container">
  <h1>GL Codes</h1>
  <hr />
</div>

<section class="campaigns-list-container container">
  <div class="row add-filter-search">
    <div class="col-md-6">
      <!-- Add New GL Code Button -->

      <div class="btn-container gl-code">
        <button class="btn btn-secondary"><i class="fa fa-solid fa-plus"></i>&nbsp;Create GL Code</button>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <div class="form-group has-search">
        <input type="text" class="form-control" placeholder="Search..." />
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
  </div>

  <!-- End campaigns-list-container -->

  <!-- Ads Table List -->
  <div class="table-container mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th scope="col">Publication</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>5067</td>
          <td>Finance</td>
          <td>Times Leader</td>
          <td>
            <span onclick="document.getElementById('editGlCodeModal').style.display='block'"><i class="fa fa-solid fa-pencil"></i></span>
          </td>
        </tr>
        <tr>
          <td>2</td>
          <td>42</td>
          <td>Nate Test</td>
          <td>Times Leader</td>
          <td>
            <span class="border-none" onclick="document.getElementById('editGlCodeModal').style.display='block'"><i class="fa fa-solid fa-pencil"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="end-of-list-heading-container text-center py-5">
      <span>You've reached the end!</span>
    </div>
  </div>
</section>

{% endblock %}
