<div id="slideOut">
  <div class="slideOutTab">
    <div class="tab-heading">
      <span>Advanced Filters</span>
    </div>
  </div>

  <div class="tm_content">
    <h3 class="menu-heading mb-3">Advanced Filters</h3>
    <hr />
    <div class="btn-container text-center">
      <button class="btn btn-block btn-dark">Clear Selected</button>
      <button id="apply" class="btn btn-block btn-secondary">Apply</button>
    </div>

    <!-- Pricing -->
    <div class="custom-accordion mb-3">
      <input type="checkbox" class="main-checkbox" checked />
      <i class="custom-chev"></i>
      <h2 class="heading">Pricing</h2>
      <div class="content">
        <div class="content-container p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault"> All</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked"> 0 - 100</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked"> 100 - 400</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Advertiser -->
    <div class="custom-accordion mb-3">
      <input type="checkbox" class="main-checkbox" checked />
      <i class="custom-chev"></i>
      <h2 class="heading">Advertiser</h2>
      <div class="content">
        <div class="content-container p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault"> All</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked"> Walmart</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked">BlackCat Fireworks</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Campaign Creator -->
    <div class="custom-accordion mb-3">
      <input type="checkbox" class="main-checkbox" checked />
      <i class="custom-chev"></i>
      <h2 class="heading">Campaign Creator</h2>
      <div class="content">
        <div class="content-container p-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
            <label class="form-check-label" for="flexCheckDefault">Kyle</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked">Nate</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
            <label class="form-check-label" for="flexCheckChecked">Chase</label>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-container text-center">
      <button class="btn btn-block btn-dark">Clear Selected</button>
      <button id="apply" class="btn btn-block btn-secondary">Apply</button>
    </div>
  </div>
</div>
