<div class="multisteps-form__panel p-4 rounded js-active" data-animation="scaleIn">
  <div class="heading-arrows-container d-flex justify-content-between">
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-left"></i></button>
    <h3 class="multisteps-form__title text-center">Campaign Overview</h3>
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="multisteps-form__content">
    <div class="content-container container">
      <div class="row ad-info">
        <!-- Left column -->
        <div class="col-md-7 left-side">
          <div class="btn-container container top mb-5">
            <div class="row">
              <div class="col-lg-6 mb-4 mb-lg-0">
                <div class="modal-btn-container">
                  <button id="modalBtn" onclick="document.getElementById('myModal').style.display='block'" class="btn btn-secondary-light"><i class="fa fa-solid fa-pencil"></i> Edit Campaign Details</button>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="cancel-dup-container">
                  <button class="btn btn-danger"><i class="fa fa-solid fa-ban"></i>&nbsp;Cancel</button>
                  <button class="btn btn-secondary"><i class="fa fa-solid fa-rotate-right"></i>&nbsp;Duplicate</button>
                </div>
              </div>
            </div>
          </div>
          <!-- End Btn Container -->

          <!-- Name Start & End Date -->
          <div class="name-date-container container mb-4">
            <div class="row">
              <div class="col-md-6">
                <div class="campaign-name">
                  <span>Campaign Name:</span>
                  <h3 class="heading name">Campaign Name Goes Here</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="start-date">
                      <span>Start Date:</span>
                      <h3 class="heading">5/22/2023</h3>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="end-date">
                      <span>End Date:</span>
                      <h4 class="heading">5/27/2023</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Name & Date -->

          <!-- Total Price -->
          <div class="total-price-container container mb-4">
            <span>Total Price:</span>
            <h4 class="heading">$120.47</h4>
          </div>

          <!-- End Total Price -->

          <!-- Brief Description -->
          <div class="brief-desc-container container">
            <span>Brief Description:</span>
            <p>Lorem ipsum dolor sit amet, at natum omnes alienum est. Qui ad fabulas deleniti pericula, doming semper ponderum at eam, et vim delectus consequat deterruisset.</p>
          </div>
          <!-- End Brief Description -->

          <!-- Advertiser / Account # -->

          <div class="advertiser-info-container container">
            <div class="row">
              <div class="col-md-7">
                <span>Advertiser:</span>
                <p>Advertiser Name Goes Here</p>
              </div>
              <div class="col-md-5">
                <span>Account #:</span>
              </div>
            </div>
          </div>

          <!-- End Advertiser / Account # -->

          <!-- Sales Contact -->

          <div class="sales-contact-container container">
            <div class="row">
              <div class="col-md-7">
                <span>Sales Contact:</span>
                <p>Kyle Jernigan</p>
              </div>
              <div class="col-md-5">
                <span>Contact ID #:</span>
              </div>
            </div>
          </div>
          <!-- End Sales Contact -->
        </div>
        <!-- End left column -->

        <div class="col-md-5 right-side mt-3 mt-md-0">
          <div class="rates-container">
            <div class="heading-container">
              <h3 class="heading">Rates</h3>
              <hr />
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Publication</th>
                  <th scope="col">Rate</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Statesville Record & Landmark</td>
                  <td>rate40</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End Rates Container -->

          <!-- Colors -->

          <div class="colors-container">
            <div class="heading-container">
              <h3 class="heading">Color</h3>
              <hr />
            </div>
            <div class="no-colors py-5 text-center">
              <p>No Colors Selected</p>
            </div>
          </div>

          <!-- End Colors -->
        </div>
      </div>

      <!-- Booked Ads Section -->
      <div class="ads-booked-container">
        <div class="heading-container">
          <div class="d-lg-flex justify-content-between mb-3 align-items-center">
            <h3 class="heading">Ads Booked</h3>
            <button class="btn btn-secondary-light">Start A New Ad</button>
          </div>
          <hr />
        </div>

        <!-- Print Accordion -->
        <div class="custom-accordion mb-3">
          <input type="checkbox" class="main-checkbox" checked />
          <i class="custom-chev"></i>
          <h2 class="heading">Print</h2>
          <div class="content">
            <div class="content-container p-3"></div>
          </div>
        </div>
        <!-- End Print Accordion -->

        <!-- ROP Accordion -->
        <div class="custom-accordion mb-3">
          <input type="checkbox" class="main-checkbox" checked />
          <i class="custom-chev"></i>
          <h2 class="heading">ROP</h2>
          <div class="content">
            <div class="content-container p-3">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <!-- End ROP Accordion -->
      </div>
      <!-- End Booked Ads Section -->
    </div>
  </div>
</div>
