{% extends 'base.html' %} {% block content %}

<div class="landing-container container mt-5">
  <div class="heading-container text-center">
    <h3 class="heading">Admin - Financial</h3>
  </div>

  <div class="admin-tab-container">
    <a href="{% url 'admin' %}">Admin Home</a>

    <!-- Step Form -->
    <div class="step-form-container">
      <div class="content">
        <!--content inner-->
        <div class="content__inner">
          <div class="">
            <!--multisteps-form-->
            <div class="multisteps-form">
              <!--progress bar-->
              <div class="row justify-content-center progress-btns-container">
                <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                  <div class="multisteps-form__progress">
                    <button class="multisteps-form__progress-btn js-active" type="button">GL Codes</button>
                    <button class="multisteps-form__progress-btn" type="button">Billing Terms</button>
                    <button class="multisteps-form__progress-btn" type="button">Fiscal Years &amp; Accounting Periods</button>
                  </div>
                </div>
              </div>
              <!--form panels-->
              <div class="row">
                <div class="col-12 m-auto">
                  <div class="multisteps-form__form">
                    <!--single form panel-->
                    {% include 'partials/stepform/admin/financial/_gl-codes.html'%}
                    <!--single form panel-->
                    {% include 'partials/stepform/admin/financial/_billing-terms.html'%}
                    <!--single form panel-->
                    {% include 'partials/stepform/admin/financial/_fiscal.html'%}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
