.c-card {
  width: 1100px;
  margin: auto;
  padding: 20px 20px 100px 20px;
  border: 0 !important;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  position: relative;

  &:after {
    position: absolute;
    content: '';
    background-image: url('../images/step-form-border.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 247px;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .progress-icons {
    width: 70%;
    /* border: 1px solid rgb(234, 234, 234); */
    border-bottom: 0 !important;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 0 0;
    margin: 0 auto;
    position: relative;
    z-index: 2;

    .progress-dot-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .step-label {
        width: 100px;
        text-align: center;
        font-size: 12px;
        color: $gray-3;
        margin-top: 10px;
      }

      .progress-dot {
        position: relative;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #eee;
        //margin-left: 66px;

        span {
          display: none;
        }

        &.progress-active {
          background-color: $primary !important;
          display: flex;
          align-items: center;
          justify-content: center;
          span {
            display: block;
            color: $white;
          }

          + .step-label {
            background-color: $primary;
            color: $white;
            box-shadow: $shadow;
            border-radius: 10px;
          }

          &:not(:first-of-type) {
            &::before {
              content: '';
              width: 68px;
              height: 7px;
              background-color: $primary !important;
              position: absolute;
              top: 13px;
              left: -67px;
            }
          }
        }
      }
    }
  }

  #section {
    &.hide {
      display: none;
    }
  }

  .section {
    position: relative;
    z-index: 2;
    padding: 0 20px;

    .section-content {
      margin-top: 100px;
    }

    .heading-container {
      text-align: center;
      .heading {
        font-size: 22px;
        font-weight: 700;
        color: $secondary;
        line-height: 26.4px;
      }
    }

    .standard-size-container {
      background-color: $offwhite;
      border-radius: 5px;
      border: 1px solid $black;
      padding: 0 20px 20px 20px;
    }

    .created-sizes-container {
      .heading-container {
        .heading {
          margin: 0;
        }

        hr {
          margin-top: 0;
        }
      }
    }

    .complete-product-container {
      text-align: center;
      .heading {
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
      }

      .big-check {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px auto;
        .fa {
          font-size: 100px;
          color: $white;
        }
      }
    }
  }
}
