.switch2 {
  position: relative;
  display: inline-block;
  margin: 0 5px;

  span {
    position: absolute;
    top: 11px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 8px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    width: 50%;
    text-align: center;

    &.toggle-option {
      white-space: nowrap;
    }

    &.toggle-option-left {
      left: 0;
      padding-left: 2px;
      color: $white;
    }

    &.toggle-option-right {
      right: 0;
      padding-right: 4px;
      color: $black;
    }

    &.active,
    &.repeat {
      left: 0;
      padding-left: 2px;
      color: $white;
    }

    &.inactive,
    &.non-repeating {
      right: 0;
      padding-right: 4px;
      color: $black;
    }
  }

  input.check-toggle-round-flat:checked ~ .off {
    color: $black;
  }

  input.check-toggle-round-flat:checked ~ .on {
    color: $white;
  }

  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }

  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 170px;
    height: 34px;
    background-color: #d4d7d4;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before,
  input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: '';
  }

  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #d4d7d4;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 80px;
    background-color: $primary;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
  }

  // input.check-toggle-round-flat:checked + label {
  // }

  input.check-toggle-round-flat:checked + label:after {
    margin-left: 80px;
    background: $primary;
  }
  @media (max-width: 1099px) {
    .card {
      width: 45%;
      margin: 0 2.5% 30px;
    }
  }
  @media (max-width: 499px) {
    .card {
      width: 95%;
    }
  }
}

.repeating-calendar,
.non-repeating-calendar {
  display: none;
}

.repeating-calendar.active,
.non-repeating-calendar.active {
  display: block;
}

.switch-field {
  display: flex;
  overflow: hidden;
  background-color: $white;
  border-radius: 52px;
  width: fit-content;
  border: 1px solid $black;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: $white;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  padding: 8px 16px;
  border-radius: 52px;
  //border: 1px solid rgba(0, 0, 0, 0.2);
  // box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
  margin-bottom: 0;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: $primary;
  color: $white;
  box-shadow: none;
  border-radius: 52px;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
