{% include 'partials/modal/_edit-adjustment.html'%} {% include 'partials/modal/_create-adjustment.html'%}
<div class="multisteps-form__panel p-4 rounded" data-animation="scaleIn">
  <div class="heading-arrows-container d-flex justify-content-between">
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-left"></i></button>
    <h3 class="multisteps-form__title text-center">Adjustments</h3>
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="multisteps-form__content">
    <div class="content-container container">
      <div class="search-container text-center mb-3">
        <div class="form-group has-search w-50 m-auto">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="fa fa-search form-control-feedback"></span>
        </div>
      </div>

      <div class="btn-container text-center mb-3">
        <button class="btn btn-secondary-light" onclick="document.getElementById('createAdjustmentModal').style.display='block'"><i class="fa fa-solid fa-plus"></i>&nbsp;Create an Adjustment</button>
      </div>

      <hr />

      <div class="row">
        <div class="col-md-4">
          <div class="adjustment-card">
            <div class="left-side">
              <div class="title-price-container d-flex justify-content-between mb-3">
                <h3 class="title">001 Color Main</h3>
                <span class="price">$1.50</span>
              </div>
              <p class="desc"><span>Description:</span> <strong>$1.50 per unit MAIN PUB ONLY</strong></p>
              <div class="level-section-container">
                <div class="row">
                  <div class="col-6">
                    <p class="level"><span>Apply Level:</span> <strong>Insertion</strong></p>
                  </div>
                  <div class="col-6">
                    <p class="section"><span>Section:</span></p>
                  </div>
                </div>
              </div>
              <div class="adjustment-type-container">
                <div class="row">
                  <div class="col-6">
                    <p class="level"><span class="font-bold">Adjustment Type:</span> <strong>Amount</strong></p>
                  </div>
                  <div class="col-6">
                    <p class="section"><span>Credit/Debit:</span> <strong>Debit(-)</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="right-side d-flex align-center">
              <button class="btn" onclick="document.getElementById('editAdjustmentModal').style.display='block'"><i class="fa fa-solid fa-pencil"></i> Edit</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="adjustment-card">
            <div class="left-side">
              <div class="title-price-container d-flex justify-content-between mb-3">
                <h3 class="title">001 Color Main</h3>
                <span class="price">$1.50</span>
              </div>
              <p class="desc"><span>Description:</span> <strong>$1.50 per unit MAIN PUB ONLY</strong></p>
              <div class="level-section-container">
                <div class="row">
                  <div class="col-6">
                    <p class="level"><span>Apply Level:</span> <strong>Insertion</strong></p>
                  </div>
                  <div class="col-6">
                    <p class="section"><span>Section:</span></p>
                  </div>
                </div>
              </div>
              <div class="adjustment-type-container">
                <div class="row">
                  <div class="col-6">
                    <p class="level"><span class="font-bold">Adjustment Type:</span> <strong>Amount</strong></p>
                  </div>
                  <div class="col-6">
                    <p class="section"><span>Credit/Debit:</span> <strong>Debit(-)</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="right-side d-flex align-center">
              <button class="btn" onclick="document.getElementById('editAdjustmentModal').style.display='block'"><i class="fa fa-solid fa-pencil"></i> Edit</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="adjustment-card">
            <div class="left-side">
              <div class="title-price-container d-flex justify-content-between mb-3">
                <h3 class="title">001 Color Main</h3>
                <span class="price">$1.50</span>
              </div>
              <p class="desc"><span>Description:</span> <strong>$1.50 per unit MAIN PUB ONLY</strong></p>
              <div class="level-section-container">
                <div class="row">
                  <div class="col-6">
                    <p class="level"><span>Apply Level:</span> <strong>Insertion</strong></p>
                  </div>
                  <div class="col-6">
                    <p class="section"><span>Section:</span></p>
                  </div>
                </div>
              </div>
              <div class="adjustment-type-container">
                <div class="row">
                  <div class="col-6">
                    <p class="level"><span class="font-bold">Adjustment Type:</span> <strong>Amount</strong></p>
                  </div>
                  <div class="col-6">
                    <p class="section"><span>Credit/Debit:</span> <strong>Debit(-)</strong></p>
                  </div>
                </div>
              </div>
            </div>

            <div class="right-side d-flex align-center">
              <button class="btn" onclick="document.getElementById('editAdjustmentModal').style.display='block'"><i class="fa fa-solid fa-pencil"></i> Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
