{% include 'partials/modal/admin/adjustments/_new-adjustments.html'%} {% include 'partials/modal/admin/adjustments/_edit-adjustment.html'%}
<div class="multisteps-form__panel p-4 rounded js-active" data-animation="scaleIn">
  <div class="heading-arrows-container d-flex justify-content-between">
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-left"></i></button>
    <h3 class="multisteps-form__title text-center">Adjustments</h3>
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="btn-search-container mt-5 mgt-5">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="filter-container">
          <button class="btn btn-secondary mb-1" onclick="document.getElementById('newAdjustment').style.display='block'"><i class="fa fa-solid fa-plus"></i> New Adjustment</button>
          <div class="filters ps-3 d-flex align-items-center"><a href="" class="active">Active</a>&nbsp;|&nbsp;<a href="">Inactive</a>&nbsp;|&nbsp;<a href="">Archived</a></div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 search-container">
        <div class="form-group has-search">
          <input type="text" class="form-control" placeholder="Search..." />
          <span class="fa fa-search form-control-feedback"></span>
        </div>
      </div>
    </div>
    <hr />
  </div>

  <div class="table-container mt-3">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID #</th>
          <th scope="col">Name</th>
          <th scope="col">Code</th>
          <th scope="col">Value</th>
          <th scope="col">Credit/Debit</th>
          <th scope="col">Apply Level</th>
          <th scope="col">Section</th>
          <th scope="col">GL Codes</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0001</td>
          <td>Example 1</td>
          <td>examp_1</td>
          <td>$0.00</td>
          <td>Debit</td>
          <td>Empty</td>
          <td>All</td>
          <td><a href="#">See List</a></td>
          <td>
            <div class="switch2">
              <input id="pricing-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" />
              <label for="pricing-toggle"></label>

              <span class="active">Active</span>
              <span class="deactivate">Deactivate</span>
            </div>
          </td>
          <td>
            <span class="mgr-1" onclick="document.getElementById('editAdjustment').style.display='block'"><i class="fa fa-solid fa-pencil"></i></span>
            <span><i class="fa fa-solid fa-envelope-open"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="end-of-list-heading-container text-center py-5">
      <span>You've reached the end!</span>
    </div>
  </div>
</div>
