<div id="createAdjustmentModal" class="modal my-modal">
  <div class="modal-content edit-ad-type">
    <span class="close" onclick="document.getElementById('createAdjustmentModal').style.display='none'">&times;</span>

    <div class="edit-ad-type-container">
      <div class="heading-container text-center mb-3">
        <h3 class="heading">Create Adjustment:</h3>
        <hr class="w-50 m-auto" />
      </div>

      <div class="edit-fields">
        <div class="form-group mb-4">
          <label for="code">Code</label>
          <select id="code" class="form-control" aria-label="Default select example">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="form-group mb-4">
          <label for="description">Description:</label>
          <textarea class="form-control" id="description" rows="10"></textarea>
        </div>

        <div class="form-group mb-4">
          <div class="row">
            <div class="col-md-6">
              <label for="apply-level">Apply Level:</label>
              <select id="apply-level" class="form-control" aria-label="Default select example">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="section">Section (optional)</label>
              <select id="section" class="form-control" aria-label="Default select example">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <div class="row">
            <div class="col-md-6">
              <label for="value-type">Value Type:</label>
              <select id="value-type" class="form-control" aria-label="Default select example">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="value">Value</label>
              <input type="text" class="form-control" name="value" id="" />
            </div>
          </div>
        </div>

        <div class="form-group mb-4">
          <label for="credit-debit">Credit/Debit:</label>
          <select id="credit-debit" class="form-control" aria-label="Default select example">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>

        <div class="btn-container text-center">
          <button class="btn btn-secondary">Apply Changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
