{% include 'partials/modal/admin/_edit-info.html'%}
<div class="multisteps-form__panel p-4 rounded js-active" data-animation="scaleIn">
  <div class="heading-arrows-container d-flex justify-content-between">
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-left"></i></button>
    <h3 class="multisteps-form__title text-center">Overview</h3>
    <button class="multistep-form__arrow"><i class="fa fa-solid fa-chevron-right"></i></button>
  </div>

  <div class="multisteps-form__content">
    <div class="content-container container">
      <div class="save-container d-flex justify-content-end">
        <button class="btn btn-secondary-light">Save Changes</button>
      </div>

      <div class="edit-info-container">
        <button class="btn btn-secondary mb-1" onclick="document.getElementById('editAdminInfo').style.display='block'"><i class="fa fa-solid fa-pencil"></i> Edit Info</button>
        <hr />
      </div>

      <div class="company-info-container">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="img-placeholder"></div>
            </div>
            <div class="col-md-9">
              <h3 class="title">Times Leader <span class="flag"></span></h3>
              <p class="address">
                1122 Boogie Woogie Ave.<br />
                Hampstead, NC 28443
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="save-container d-flex justify-content-end mt-5">
        <button class="btn btn-secondary-light">Save Changes</button>
      </div>
    </div>
  </div>
</div>
