<div id="editAdminInfo" class="modal my-modal">
  <div class="modal-content w-50 h-50 m-auto">
    <span class="close" onclick="document.getElementById('editAdminInfo').style.display='none'">&times;</span>

    <div class="heading-container text-center mb-3">
      <h3 class="heading">Edit Info</h3>
      <hr class="w-50 m-auto" />
    </div>

    <div class="input-group mb-3">
      <input type="file" class="form-control" id="inputGroupFile02" />
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group text-center mb-4">
          <label for=""><strong>Name:</strong></label>
          <input type="text" name="" id="codeInput" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-4">
          <label for=""><strong>Country:</strong></label>
          <input type="text" name="" id="" class="form-control" />
        </div>
      </div>
    </div>

    <div class="form-group mb-4">
      <label for=""><strong>Address:</strong></label>
      <input type="text" name="" id="" class="form-control" />
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group text-center mb-4">
          <label for="gl-code"><strong>City:</strong></label>
          <input type="text" name="" id="codeInput" class="form-control" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-4">
          <label for=""><strong>State:</strong></label>
          <select name="" id="" class="form-select"></select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group mb-4">
          <label for=""><strong>Zip Code:</strong></label>
          <input type="text" name="" id="codeInput" class="form-control" />
        </div>
      </div>
    </div>

    <div class="btn-container text-center">
      <button class="btn btn-gray px-5">Discard Changes</button>
      <button class="btn btn-secondary px-5">Save Changes</button>
    </div>
  </div>
</div>
