{% extends 'base.html' %} {% block content %}
<!-- Tab Menu -->
{% include 'partials/_tabmenu.html'%}
<div class="page-heading-container">
  <h1>Ad Rates</h1>
</div>

<section class="campaigns-list-container container">
  <div class="row add-filter-search">
    <div class="col-md-9">
      <div class="row">
        <div class="col-3">
          <!-- Add New Rate Button -->

          <div class="add-new-campaign">
            <button class="btn btn-secondary">Add a Rate</button>
          </div>
        </div>
        <div class="col-3">
          <!-- Sort Ads Container -->

          <div class="sort-ads-container">
            <label for="">Sort By:</label>
            <select class="form-select form-select-sm" aria-label=".form-select-sm campaign-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 d-flex justify-content-end">
      <div class="form-group has-search">
        <input type="text" class="form-control" placeholder="Search Publications..." />
        <span class="fa fa-search form-control-feedback"></span>
      </div>
    </div>
    <hr class="my-3" />
  </div>

  <!-- End campaigns-list-container -->

  <!-- Ads Table List -->
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rate Test 1</td>
          <td>Pending</td>
          <td>Walmart</td>
          <td>01/8/2024</td>
          <td>01/8/2024</td>
        </tr>
      </tbody>
    </table>
    <div class="end-of-list-heading-container text-center py-5">
      <span>You've reached the end!</span>
    </div>
  </div>
</section>
{% endblock %}
