{% extends 'base.html' %} {% block content %} {% include 'partials/modal/_edit-ad-info.html'%}
<div class="page-heading-container container">
  <h1>Advertising</h1>
</div>

<div class="link-container container mb-3">
  <a href="{% url 'index' %}">Back to Rates</a>
</div>
<div class="container container-custom mb-5">
  <div class="heading-container text-center">
    <h3 class="heading">Rate Name</h3>
    <hr />
  </div>

  <div class="row">
    <div class="col-6 col-md-6">
      <div class="text-container mb-5">
        <span class="fw-bold">Status:</span>
        <p>Active</p>
      </div>

      <div class="row">
        <div class="col-6 col-md-6">
          <div class="text-container mb-5">
            <span class="fw-bold">Price:</span>
            <p>$5</p>
          </div>
        </div>
        <div class="col-6 col-md-6">
          <div class="text-container mb-5">
            <span class="fw-bold">Tax Category:</span>
            <p>None</p>
          </div>
        </div>
      </div>

      <div class="text-container mb-5">
        <span class="fw-bold">Location:</span>
        <p>prem_backCover</p>
      </div>

      <div class="text-container mb-5">
        <span class="fw-bold">Hidden:</span>
      </div>

      <div class="text-container">
        <span class="fw-bold">Description:</span>
        <p>Brief description of the rate will go here.</p>
      </div>
    </div>

    <div class="col-6 col-md-6">
      <div class="text-container mb-5">
        <span class="fw-bold">Start/End Date:</span>
        <p><i class="fa fa-solid fa-calendar color-primary"></i> 02-24-2022 &rarr; 03/24/2022</p>
      </div>

      <div class="text-container mb-5">
        <span class="fw-bold">Unit Type:</span>
        <p>inch</p>
      </div>

      <div class="text-container mb-5">
        <span class="fw-bold">Rate Type:</span>
        <p>Liner</p>
      </div>

      <div class="text-container">
        <span class="fw-bold">GL Code:</span>
        <p>5067 - Finance</p>
      </div>

      <div class="btn-container text-center">
        <button class="btn btn-secondary px-5"><i class="fa fa-solid fa-pencil"></i> Edit Rate</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
