.download-templates-container {
  .dl-btn-container {
    background-color: $secondary-light-alpha;
    border: 1px solid $secondary;
    border-radius: 4px;
    box-shadow: $shadow;
    padding: 10px;
    max-width: 450px;
  }
}
