.download-templates-container {
  .dl-btn-container {
    background-color: $secondary-light-alpha;
    border: 1px solid $secondary;
    border-radius: 4px;
    box-shadow: $shadow;
    padding: 10px;
    max-width: 450px;
  }
}

.tab-menu-container {
  .tab {
    .btn {
      width: 150px !important;
      margin-bottom: 2px;
      &:not(:last-of-type) {
        margin-right: 10px;
      }

      &.active {
        background-color: $secondary !important;
        border: 1px solid $secondary !important;
      }
    }
  }

  .col {
    width: 175px;

    input {
      width: 100%;
      background-color: none;
      border: none;
      text-align: center;
    }
  }

  .tabcontent {
    display: none;
  }
}
